@charset "UTF-8";
/**
 * 
 * @authors weilei.zhu (purelite.zhu@gmail.com)
 * @date    2016-03-15 10:32:41
 * @version $Id$
 */

.order{
	background:#f2f2f2;	
	.order-list{
		background: #fff;
		margin-bottom: 12px;
	}
	.order-list .time-pay{
		font-size:13px;
		padding:14px 10px;
		color:#727272;	
	}
	.order-list .pd10 {
	    padding: 10px;
	    border-top: 1px solid #e3e3e3;
	}
	.order-list .colf06450{ 
	    color:#ff4650;
	}
	.order-list .text {
	    position: relative; 
	}
	.order-list .text p{
	    font-size: 13px;
	    color: #727272;
	}
	.goodList {
	    height:66px;
	    overflow:hidden;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.goodList ol li{
	    display: block;
	    border: none;
	    height: 60px;
	    float: left;
	}
	.goodList ol li img {
	    width:50px;
	    height:50px;
	    border:#d8d8d8 1px solid;
	}
	.order-list .order-btn{
		font-size: 12px;
	    padding: 14px 15px;
	    text-align: right;
	    border-top: solid #d8d8d8 1px;
	}
	.order-list .order-btn a{
	    width: 70px;
	    text-align: center;	
		border-radius: 2px;
		height: 25px;
		line-height: 25px;
		display: inline-block;
	    
	}
	.order-list .order-btn a.cancellBtn{
		border:1px solid #727272;
	    color:#727272;
	}
	.order-list .order-btn a.gopayBtn{
		background: #f06252;
		color: #fff;
		border:1px solid #f06252;
		margin-left: 12px;
	}
	.order-btn-hide,pay-hide,cancel-hide{
	    display:none;
	}
	.order-btn-show,pay-show,cancel-show{
	    display:block;
	}
	.no-order{
	    width: 160px;   
	    height: 140px;  
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -80px;
	    margin-top: -70px; 
	    span{
		    display: block;
		    background: url("http://img01.ttmimg.com/www/images/stonescms/2016160227/24f3c9d76f486735.png") no-repeat;
		    width: 105px;
		    height: 108px;
		    background-size: 105px 108px;
		    margin: 0 auto 10px;    
		}
		p{    
		    color: #b2b2b2;
		    font-size: 15px;
		    text-align: center;
		}
	}

}
